<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
    <div class="form-container">

        <form action="#" method="post">
            <h1>Sourse</h1>
    
            <label for="url">URL:</label>
            <input type="text" id="url" name="url" required>
            <br><br>
    
            <label for="key">Key:</label>
            <input type="text" id="key" name="key" required>
            <br><br>
    
            <label for="value">Valor:</label>
            <input type="text" id="value" name="value" required>
            <br><br>
    
            <h1>Destination</h1>
    
            <label for="poryectId">Proyect ID:</label>
            <input type="text" id="key" name="key" required>
            <br><br>
    
            <label for="tname">Table name:</label>
            <input type="text" id="value" name="value" required>
            <br><br>
    
            <label for="credential">Service account:</label>
            <input type="file" id="credential" name="credential" required>
            <br><br>
    
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>